

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 10%s;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}